---
layout: page.njk
current: articles
---

<article>
    <h1>{{ title }}</h1>
    <section class="article-details">
        <div class="article-details-item">
            {% include '../assets/icon-calendar.svg' %}
            <time pubdate datetime="{{ date }}">{{ formatDate(date) }}</time>
        </div>
        <div class="article-details-item">
            {% include '../assets/icon-clock.svg' %}
            <span>{{ getArticleReadTime(content) }} min. read</span>
        </div>
    </section>
    {{ content | safe }}
</article>

<div class="back-to-top-wrapper">
    <button class="back-to-top-container" type="button" onclick="goToTop()" title="Float back to the top of the page.">
        {% include '../assets/icon-balloon.svg' %}
        <i class="pennywise" role="presentation">{% include '../assets/icon-pennywise.svg' %}</i>
    </button>
</div>