{% set css %}
    {% include '../styles/_includes/footer.css' %}
{% endset %}

<style>
{{ css | cssmin | safe }}
</style>

<footer class="primary-footer">
    <q>I live my life one hot chocolate at a time.</q>
    <span>Daniel Yuschick © {{ getYear() }}</span>
</footer>
