<footer class="primary-footer">
    <q>I live my life one <span>hot chocolate</span>
        <span>braaaiiinzzz</span> at a time.</q>
    <span>Daniel Yuschick © {{ getYear() }}</span>
    {% include '../assets/icons/icon-zombie.svg' %}
</footer>