<section>
  <a class="visually-hidden skip-to-link" href="#main-content">
    Skip to main content
  </a>

  <header class="primary-header">
    <a href="/" title="Home">{% include '../assets/logo-dy-initials.svg' %}</a>
  </header>
</section>