<section>
  <a class="visually-hidden skip-to-link" href="#main-content">
    Skip to main content
  </a>

  <header class="primary-header">
    {% include '../assets/logo-dy-initials.svg' %}
  </header>
</section>