<nav>
  <ul>
    <li {% if current === "about" %} data-current {% endif %}>
      <a {% if current === "about" %} aria-current="page" {% endif %} href="/">About</a>
    </li>
    <li {% if current === "articles" %} data-current {% endif %}><a {% if current === "articles" %} aria-current="page" {% endif %} href="/articles">Articles</a></li>
    <li {% if current === "books" %} data-current {% endif %}><a {% if current === "books" %} aria-current="page" {% endif %} href="/books">Books</a></li>
    <li>
      <a
        href="https://twitter.com/DanielYuschick"
        title="Visit Daniel Yuschick on Twitter"
      >
        {% include '../assets/icon-twitter.svg' %}
      </a>
    </li>
  </ul>
</nav>
