nav {
  background: var(--dy-color-primary);
  color: var(--dy-color-aux-900);
  display: flex;
  place-content: center;
  padding: 0 var(--dy-space-base-8x);
}

nav a {
  --accent-offset: 10%;

  color: var(--dy-color-aux-900);
  text-decoration: none;
}

nav ul {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li {
  -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  display: grid;
  font-weight: 500;
  padding: var(--dy-space-base-2x) var(--dy-space-base-4x);
  place-items: center;
  text-transform: uppercase;
}

nav svg {
  inline-size: 18px;
  margin: var(--dy-space-base-1x);
}

nav [aria-current="page"] {
  background: var(--dy-color-secondary);
}
