@import "../utils/animations";
@import "../utils/mixins";

.primary-footer {
  @include flex-base();

  background: var(--dy-color-surface-tertiary);
  color: var(--dy-color-aux-900);
  gap: var(--dy-space-base-4x);
  justify-content: space-between;
  padding: var(--dy-space-base-3x) var(--dy-space-base-8x);
  position: relative;

  q span:last-child {
    display: none;
    font-style: italic;
  }

  svg {
    @include layout($block-size: 0, $inline-size: var(--icon-size));

    --icon-size: 48px;

    color: var(--dy-color-secondary);
    position: absolute;
    inset-block-start: var(--icon-size);
    inset-inline-start: var(--dy-space-base-8x);
    transform-origin: bottom center;
    transition: all var(--dy-transition-duration-lg) ease;
    z-index: -1;

    path {
      fill: currentColor;
    }
  }

  &:hover {
    q span:first-child {
      display: none;
    }

    q span:last-child {
      display: inline;
    }

    svg {
      @include layout($block-size: var(--icon-size));

      animation: wiggle 2s var(--dy-transition-duration-lg) ease
        alternate-reverse infinite;
      inset-block-start: calc(2px - var(--icon-size));
    }
  }
}
