.primary-footer {
  background: var(--dy-color-secondary);
  color: var(--dy-color-aux-900);
  display: flex;
  flex-wrap: wrap;
  gap: var(--dy-space-base-4x);
  justify-content: space-between;
  padding: var(--dy-space-base-3x) var(--dy-space-base-8x);
  position: relative;

  q span:last-child {
    display: none;
    font-style: italic;
  }

  svg {
    --icon-size: 48px;

    block-size: 0;
    color: var(--dy-color-secondary);
    position: absolute;
    inline-size: var(--icon-size);
    inset-block-start: var(--icon-size);
    inset-inline-start: var(--dy-space-base-8x);
    transform-origin: bottom center;
    transition: all var(--dy-transition-duration-lg) ease;
    z-index: -1;

    path {
      fill: currentColor;
    }
  }

  &:hover {
    q span:first-child {
      display: none;
    }

    q span:last-child {
      display: inline;
    }

    svg {
      animation: wiggle 2s var(--dy-transition-duration-lg) ease
        alternate-reverse infinite;
      block-size: var(--icon-size);
      inset-block-start: calc(2px - var(--icon-size));
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(2deg) translateX(0);
  }
  25% {
    transform: rotate(-2deg) translateX(5px);
  }
  50% {
    transform: rotate(3deg) translateX(10px);
  }
  75% {
    transform: rotate(-3deg) translateX(15px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}
