@import '../utils/animations';
@import '../utils/mixins';

.primary-footer {
    @include flex-base();
    @include padding($padding: var(--dy-space-base-3x) var(--dy-space-base-8x));

    background: var(--dy-color-surface-tertiary);
    color: var(--dy-color-aux-900);
    gap: var(--dy-space-base-4x);
    justify-content: space-between;
    position: relative;

    q span:last-child {
        display: none;
        font-style: italic;
    }

    svg {
        @include layout($blockSize: 0, $inlineSize: var(--icon-size));
        @include position($blockStart: var(--icon-size), $inlineStart: var(--dy-space-base-8x));

        --icon-size: 48px;

        color: var(--dy-color-secondary);
        position: absolute;
        transform-origin: bottom center;
        transition: all var(--dy-transition-duration-lg) ease;
        z-index: -1;

        path {
            fill: currentColor;
        }
    }

    &:hover,
    &:focus-within {
        q span:first-child {
            display: none;
        }

        q span:last-child {
            display: inline;
        }

        svg {
            @include layout($blockSize: var(--icon-size));
            @include position($blockStart: calc(2px - var(--icon-size)));

            animation: wiggle 2s var(--dy-transition-duration-lg) ease alternate-reverse infinite;
        }
    }
}
