.primary-header {
  @include padding($all: var(--dy-space-base-8x));

  background: var(--dy-color-surface-secondary);
  display: grid;
  place-content: center;

  svg {
    @include layout($inline-size: min(85px, 10vw), $min-inline-size: 50px);

    path {
      transition: all var(--dy-transition-duration-2xl) ease;

      @for $p from 1 through 4 {
        &:nth-of-type(#{$p}):hover {
          fill: var(--dy-color-primary);
        }
      }
    }

    &:has(path:hover) path:not(:hover) {
      opacity: 0.5;
    }
  }
}

.skip-to-link:focus-visible {
  @include padding($all: var(--dy-space-base-2x));
  @include position(
    $block-start: var(--dy-space-base-4x),
    $inline-start: var(--dy-space-base-4x),
    $position: absolute,
    $z: 1
  );

  all: unset;
  color: var(--dy-color-aux-900);
  cursor: pointer;
  outline: 2px solid currentColor;
}
