nav {
    @include padding($inline: var(--dy-space-base-8x));

    background: var(--dy-color-surface-primary);
    color: var(--dy-color-aux-900);
    display: grid;
    place-content: center;

    a,
    a:active,
    a:visited {
        --accent-offset: 10%;

        color: var(--dy-color-text-nav);
        text-decoration: none;
    }

    ul {
        @include flex-base();
        align-content: center;
        justify-content: center;

        @include breakpoint-max(700px) {
            justify-content: start;
        }

        li {
            @include padding($padding: var(--dy-space-base-2x) var(--dy-space-base-4x));

            -webkit-clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
            display: grid;
            font-weight: 500;
            place-items: center;
            text-transform: uppercase;
        }
    }

    svg {
        @include margin($margin: var(--dy-space-base-1x));
    }

    li:has([aria-current='page']) {
        background: var(--dy-color-surface-secondary);

        a {
            color: var(--dy-color-text-nav-active);
            font-weight: 900;

            &:hover {
                color: var(--dy-color-text-nav-active);

                &:before,
                &:after {
                    opacity: 0;
                }
            }
        }
    }

    @supports not selector(:has([data-current])) {
        [data-current] {
            background: var(--dy-color-surface-secondary);

            a {
                color: var(--dy-color-text-nav-active);
                font-weight: 900;

                &:hover {
                    color: var(--dy-color-text-nav-active);

                    &:before,
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

nav a {
    @include layout($minInlineSize: 25px, $textAlign: center);

    --accent-offset: 10%;
    --accent-size: 2px;

    color: var(--dy-color-text-nav);
    position: relative;
    text-decoration: none;
    text-underline-offset: var(--dy-space-base-1x);

    &:before,
    &:after {
        @include layout($blockSize: 110%, $inlineSize: 0);
        @include position($blockStart: -5%);

        --border-color: currentColor;

        clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
        content: '';
        opacity: 0;
        position: absolute;
        transform-origin: center;
        transition: all var(--dy-transition-duration-md) ease;
        z-index: -1;
    }

    &:before {
        @include border(
            $blockStart: var(--accent-size) solid var(--border-color),
            $inlineEnd: var(--accent-size) solid var(--border-color)
        );
        @include position($inlineStart: calc(100% + var(--accent-offset)));
    }

    &:after {
        @include border(
            $blockEnd: var(--accent-size) solid var(--border-color),
            $inlineStart: var(--accent-size) solid var(--border-color)
        );
        @include position($inlineStart: calc(0% - var(--accent-offset)));
    }

    &:focus-visible {
        outline: 1px solid currentColor;
        outline-offset: var(--accent-size);
    }

    &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;

        @supports (color: color-mix(in hsl, #fff 80%, #000)) {
            color: color-mix(in hsl, currentColor 10%, var(--dy-color-aux-900));
        }
    }

    &:focus-visible:before,
    &:hover:before,
    &:focus-visible:after,
    &:hover:after {
        @include layout($inlineSize: calc(100% + calc(var(--accent-offset) * 2)));
        opacity: 1;
    }

    &:focus-visible:before,
    &:hover:before {
        @include position($inlineStart: calc(0% - var(--accent-offset)));
    }
}
