#root {
  background: url("/assets/the-upside-down.jpeg") no-repeat
    var(--dy-color-aux-100);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
}

.container-404 {
  block-size: 100%;
  color: var(--dy-color-aux-900);
  display: grid;
  place-items: center;
  position: relative;

  h2 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    span {
      animation: flicker 2s linear alternate-reverse infinite;
    }
  }

  p {
    color: var(--dy-color-aux-700);
    font-size: var(--dy-font-size-3);
    line-height: 1;
    text-align: center;
  }
}

@keyframes flicker {
  0%,
  5%,
  25%,
  45%,
  90% {
    opacity: 0.5;
  }
  10%,
  80% {
    opacity: 0.6;
  }
  15%,
  70% {
    opacity: 0.85;
  }
  30%,
  60%,
  99% {
    opacity: 1;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.45;
  }
}
