@import "../utils/animations";
@import "../utils/mixins";

#root {
  background: url("/assets/the-upside-down.jpeg") no-repeat
    var(--dy-color-aux-100);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
}

.container-404 {
  @include layout($block-size: 100%);

  color: var(--dy-color-aux-900);
  display: grid;
  place-items: center;

  h2 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    span {
      animation: flicker 2s linear alternate-reverse infinite;
    }
  }

  p {
    color: var(--dy-color-aux-700);
    font-size: var(--dy-font-size-3);
    line-height: 1;
    text-align: center;
  }
}
