@import "../utils/mixins";

.article-details {
  @include flex-base();

  align-items: center;
  color: var(--dy-color-aux-300);
  font-size: var(--dy-font-size--1);
  gap: var(--dy-space-base-4x);
  margin: var(--dy-space-base-2x) 0;
}

.article-details-item {
  @include flex-base();

  align-items: center;
  gap: var(--dy-space-base-1x);
}
