.articles-list {
  li + li {
    margin-block-start: var(--dy-space-base-8x);
    padding-block-start: var(--dy-space-base-8x);
    position: relative;

    &:before {
      background: var(--dy-color-aux-100);
      block-size: 1px;
      content: "";
      inline-size: 55%;
      inset-block-start: 0;
      inset-inline-start: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

.article-details {
  align-items: center;
  color: var(--dy-color-aux-300);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--dy-font-size--1);
  gap: var(--dy-space-base-4x);
  margin: var(--dy-space-base-2x) 0;
}

.article-details-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--dy-space-base-1x);

  svg {
    inline-size: 1em;
  }
}
