.articles-list {
  li + li {
    margin-block-start: var(--dy-space-base-8x);
    padding-block-start: var(--dy-space-base-8x);
    position: relative;

    &:before {
      background: var(--dy-color-aux-100);
      block-size: 1px;
      content: "";
      inline-size: 55%;
      inset-block-start: 0;
      inset-inline-start: 50%;
      position: absolute;
      transform: translateX(-50%) rotate(1deg);
      z-index: 1;
    }

    &:nth-child(odd):before {
      transform: translateX(-50%) rotate(-1deg);
    }
  }
}
