.articles-list {
  li + li {
    margin-block-start: var(--dy-space-base-8x);
    padding-block-start: var(--dy-space-base-8x);
    position: relative;

    &:before {
      background: var(--dy-color-aux-400);
      block-size: 1px;
      content: "";
      inline-size: 55%;
      inset-block-start: 0;
      inset-inline-start: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    &:after {
      background-color: var(--dy-color-aux-900);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      block-size: 24px;
      content: "";
      inline-size: 24px;
      inset-block-start: 0;
      inset-inline-start: 50%;
      padding: 0 var(--dy-space-base-4x);
      position: absolute;
      transform: translate(-50%, -50%);
      transition: padding var(--dy-transition-duration-md) ease;
      z-index: 2;
    }

    &:nth-child(6n + 0):after {
      background-image: url("../../assets/icon-freddy.svg");
    }

    &:nth-child(6n + 1):after {
      background-image: url("../../assets/icon-zombie-hand.svg");
    }

    &:nth-child(6n + 2):after {
      background-image: url("../../assets/icon-jason.svg");
    }

    &:nth-child(6n + 3):after {
      background-image: url("../../assets/icon-axe.svg");
    }

    &:nth-child(6n + 4):after {
      background-image: url("../../assets/icon-scream.svg");
    }

    &:nth-child(6n + 5):after {
      background-image: url("../../assets/icon-halloween.svg");
    }
  }
}

.article-details {
  align-items: center;
  color: var(--dy-color-aux-300);
  display: flex;
  flex-wrap: wrap;
  font-size: var(--dy-font-size--1);
  gap: var(--dy-space-base-4x);
  margin: var(--dy-space-base-2x) 0;
}

.article-details-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--dy-space-base-1x);

  svg {
    inline-size: 1em;
  }
}
