@import "../utils/breakpoints";
@import "../utils/mixins";

.about--content-alignment {
  text-align: start;

  @include breakpoint-min(700px) {
    text-align: center;
  }
}

@include breakpoint-max(700px) {
  .about li {
    line-height: 1.5;

    + li {
      @include margin($block-start: var(--dy-space-base-3x));
    }
  }
}

ul:not(:last-child) {
  @include position($position: relative);
  @include margin($block-end: var(--dy-space-base-8x));
  @include padding($block-end: var(--dy-space-base-8x));
  @include divider-icon($placement: end);

  &:nth-child(3n + 2):after {
    background-image: url("../../assets/icon-drums.svg");
  }

  &:nth-child(3n + 1):after {
    background-image: url("../../assets/icon-dog.svg");
  }

  &:nth-child(3n + 0):after {
    background-image: url("../../assets/icon-hearts.svg");
  }
}
