@import "../utils/breakpoints";
@import "../utils/mixins";

.about--content-alignment {
  text-align: start;

  @include breakpoint-min(700px) {
    text-align: center;
  }
}

@include breakpoint-max(700px) {
  .about li {
    line-height: 1.5;

    + li {
      @include margin($block-start: var(--dy-space-base-3x));
    }
  }
}

ul:not(:last-child) {
  @include position($position: relative);
  @include margin($block-end: var(--dy-space-base-8x));
  @include padding($block-end: var(--dy-space-base-8x));
  @include divider-icon($placement: end);

  $icons: "drums", "dog", "hearts";
  $length: length($icons);

  @each $icon in $icons {
    $i: index($icons, $icon);

    &:nth-child(#{($i * 2)}):after {
      background-image: url("../../assets/icons/icon-#{$icon}.svg");
    }
  }
}
