@import '../../../node_modules/@organicss/scss';
@import './articles_shared';
@import '../utils/syntax_theme';
@import '../utils/mixins';

article ul {
    list-style: disc;
    list-style-position: inside;
}

article ol {
    list-style-position: inside;
}

img {
    @include margin($inline: auto);
}

blockquote {
    @include border($inlineStart: 3px solid var(--dy-color-tertiary));
    @include layout($maxInlineSize: min(670px, 80%));
    @include margin($margin: var(--dy-space-base-4x) auto);
    @include padding($padding: var(--dy-space-base-4x) var(--dy-space-base-6x));

    color: var(--dy-color-aux-200);
    font-size: var(--dy-font-size-1);
    font-style: italic;
}

code {
    background: var(--dy-color-aux-800);
    color: var(--dy-color-aux-100);
    font-family: var(--dy-font-mono);
}

pre {
    @include layout($maxInlineSize: calc(100vw - var(--dy-space-base-8x) * 2.5));
    @include margin($block: var(--dy-space-base-6x));
    @include padding($block: var(--dy-space-base-6x));

    border-image-source: linear-gradient(var(--dy-color-aux-800), var(--dy-color-aux-800));
    border-image-slice: 0 fill;
    border-image-outset: 0 100vw;
    font-family: var(--dy-font-mono);
    overflow: auto;
}



.media-embed-wrapper {
    @include layout($inlineSize: 100%, $maxInlineSize: var(--dy-max-content-length));
    @include margin($blockEnd: var(--dy-space-base-8x));
}

.back-to-top-wrapper {
    @include position($blockEnd: 0, $inlineEnd: var(--dy-space-base-12x));

    position: fixed;
    transform: translateY(calc(125% * var(--dy-direction-multiplier)));
    transition: all var(--dy-transition-duration-lg) ease;
    z-index: 2;

    .back-to-top-container {
        @include border($border: 0);

        background: none;
        cursor: pointer;
        position: relative;

        svg:first-child {
            @include layout($inlineSize: 64px);
        }

        &:focus-visible {
            outline: 2px solid var(--dy-color-primary);
            outline-offset: var(--dy-space-base-half);
        }

        &:focus-within .pennywise {
            opacity: 0.8;
        }
    }

    &.active {
        transform: translateY(calc(-50% * var(--dy-direction-multiplier)));
    }

    &:hover .pennywise {
        opacity: 0.8;
    }

    .pennywise {
        @include layout($inlineSize: 32px);
        @include position($blockStart: 10%, $inlineEnd: 25%);

        opacity: 0;
        position: absolute;
        transition: opacity var(--dy-transition-duration-lg);
        z-index: 2;
    }
}

figure {
    @include margin($blockEnd: var(--dy-space-base-6x));

    figcaption {
        @include layout($textAlign: center);
    }
}

.table-wrapper {
    overflow-x: auto;

    + * {
        @include margin($blockStart: var(--dy-space-base-6x));
    }
}

table {
    @include layout($inlineSize: max(100%, calc(var(--dy-max-content-length) - 10ch)));

    thead {
        background: var(--dy-color-tertiary);
    }

    th {
        @include padding($padding: 0.5em);
        @include layout($textAlign: start);
    }

    td {
        @include padding($padding: 0.25em);
    }

    tr {
        &:nth-child(even) {
            background: var(--dy-color-aux-700);
        }
    }
}

ul ul {
 @include margin($inlineStart: 3rem);
 list-style-type: circle;
 list-style-position: inside;
}
