@import "./articles_shared";
@import "../utils/mixins";

.articles-list {
  li + li {
    @include position($position: relative);
    @include margin($block-start: var(--dy-space-base-8x));
    @include padding($block-start: var(--dy-space-base-8x));
    @include divider-icon();

    &:nth-child(6n + 0):after {
      background-image: url("../../assets/icon-freddy.svg");
    }

    &:nth-child(6n + 1):after {
      background-image: url("../../assets/icon-zombie-hand.svg");
    }

    &:nth-child(6n + 2):after {
      background-image: url("../../assets/icon-jason.svg");
    }

    &:nth-child(6n + 3):after {
      background-image: url("../../assets/icon-axe.svg");
    }

    &:nth-child(6n + 4):after {
      background-image: url("../../assets/icon-scream.svg");
    }

    &:nth-child(6n + 5):after {
      background-image: url("../../assets/icon-halloween.svg");
    }
  }
}
