@import "./articles_shared";
@import "../utils/mixins";

.articles-list {
  li + li {
    @include position($position: relative);
    @include margin($block-start: var(--dy-space-base-8x));
    @include padding($block-start: var(--dy-space-base-8x));
    @include divider-icon();

    $icons: "freddy", "zombie-hand", "jason", "axe", "scream", "halloween",
      "zombie";
    $length: length($icons);

    @each $icon in $icons {
      $i: index($icons, $icon);

      &:nth-child(#{$length}n + #{$i}):after {
        background-image: url("../../assets/icons/icon-#{$icon}.svg");
      }
    }
  }
}
