@import "./articles_shared";
@import "../utils/mixins";

.articles-list {
  li + li {
    margin-block-start: var(--dy-space-base-8x);
    padding-block-start: var(--dy-space-base-8x);
    position: relative;

    &:before {
      @include layout($block-size: 1px, $inline-size: 75%);

      background: var(--dy-color-aux-400);
      content: "";
      inset-block-start: 0;
      inset-inline-start: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    &:after {
      @include layout($block-size: 24px, $inline-size: 24px);

      background-color: var(--dy-color-aux-900);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
      inset-block-start: 0;
      inset-inline-start: 50%;
      padding: 0 var(--dy-space-base-4x);
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &:nth-child(6n + 0):after {
      background-image: url("../../assets/icon-freddy.svg");
    }

    &:nth-child(6n + 1):after {
      background-image: url("../../assets/icon-zombie-hand.svg");
    }

    &:nth-child(6n + 2):after {
      background-image: url("../../assets/icon-jason.svg");
    }

    &:nth-child(6n + 3):after {
      background-image: url("../../assets/icon-axe.svg");
    }

    &:nth-child(6n + 4):after {
      background-image: url("../../assets/icon-scream.svg");
    }

    &:nth-child(6n + 5):after {
      background-image: url("../../assets/icon-halloween.svg");
    }
  }
}
