@import './articles_shared';
@import '../utils/breakpoints';

.book-container {
    align-items: start;
    display: grid;
    gap: var(--dy-space-base-6x);

    @include breakpoint-min(700px) {
        grid-template-columns: 1fr 4fr;
    }

    &+& {
        margin-block-start: var(--dy-space-base-16x);
    }
}

hr:last-child {
    display: none;
}
