:root {
  --dy-color-primary: #bc3810;
  --dy-color-primary-darken-100: #a9330f;
  --dy-color-primary-darken-200: #962d0d;
  --dy-color-secondary: #272635;
  --dy-color-secondary-darken-100: #23222f;
  --dy-color-secondary-darken-200: #1a1a23;
  --dy-color-secondary-lighten-100: #46455f;
  --dy-color-tertiary: #ffae03;
  --dy-color-tertiary-darken-100: #cc8b00;
  --dy-color-tertiary-darken-200: #664600;

  --dy-color-surface-primary: var(--dy-color-primary);
  --dy-color-surface-secondary: var(--dy-color-secondary);
  --dy-color-surface-tertiary: var(--dy-color-secondary);

  --dy-color-aux-100: #060606;
  --dy-color-aux-200: #333333;
  --dy-color-aux-300: #474747;
  --dy-color-aux-400: #5c5c5c;
  --dy-color-aux-500: #c2c2c2;
  --dy-color-aux-600: #cccccc;
  --dy-color-aux-700: #d6d6d6;
  --dy-color-aux-800: #eaeaea;
  --dy-color-aux-900: #f5f3f4;

  --dy-color-text-nav: var(--dy-color-aux-900);
  --dy-color-text-nav-active: var(--dy-color-aux-900);

  --dy-font-primary: "Archivo", sans-serif;
  --dy-font-mono: "Fira Mono", monospace;

  --dy-space-base: 4px;
  --dy-space-base-half: calc(var(--dy-space-base) / 2);
  --dy-space-base-1x: var(--dy-space-base);
  --dy-space-base-2x: calc(var(--dy-space-base) * 2);
  --dy-space-base-3x: calc(var(--dy-space-base) * 3);
  --dy-space-base-4x: calc(var(--dy-space-base) * 4);
  --dy-space-base-6x: calc(var(--dy-space-base) * 6);
  --dy-space-base-8x: calc(var(--dy-space-base) * 8);
  --dy-space-base-12x: calc(var(--dy-space-base) * 12);
  --dy-space-base-16x: calc(var(--dy-space-base) * 16);
  --dy-space-base-24x: calc(var(--dy-space-base) * 24);

  --dy-max-content-length: 90ch;

  --dy-font-size--2: clamp(0.68rem, calc(0.7rem + -0.02vw), 0.69rem);
  --dy-font-size--1: clamp(0.83rem, calc(0.83rem + 0.03vw), 0.85rem);
  --dy-font-size-0: clamp(1rem, calc(0.98rem + 0.1vw), 1.06rem);
  --dy-font-size-1: clamp(1.2rem, calc(1.16rem + 0.21vw), 1.33rem);
  --dy-font-size-2: clamp(1.44rem, calc(1.37rem + 0.37vw), 1.66rem);
  --dy-font-size-3: clamp(1.73rem, calc(1.61rem + 0.58vw), 2.08rem);

  --dy-transition-duration-sm: 0.15s;
  --dy-transition-duration-md: 0.2s;
  --dy-transition-duration-lg: 0.25s;
  --dy-transition-duration-xl: 0.5s;
  --dy-transition-duration-2xl: 1s;
}
