@mixin flex-base() {
    display: flex;
    flex-wrap: wrap;
    /* Default to flex wrap as a Defensive CSS best practice.
  https://ishadeed.com/article/defensive-css/#flexbox-wrapping */
}

@mixin divider-icon($placement: start) {
    &:before,
    &:after {
        @include position($inlineStart: 50%, $position: absolute, $z: 2);
        --translateY: -50%;

        @if $placement == end {
            @include position($blockEnd: 0);
            --translateY: 50%;
        } @else {
            @include position($blockStart: 0);
        }
    }

    &:before {
        @include layout($blockSize: 1px, $inlineSize: 75%);

        background: var(--dy-color-aux-400);
        content: '';
        transform: translateX(-50%);
    }

    &:after {
        @include layout($blockSize: 24px, $inlineSize: 24px);
        @include padding($inline: var(--dy-space-base-4x));

        background-color: var(--dy-color-aux-900);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        content: '';
        transform: translate(-50%, var(--translateY));
    }
}
