@import "./variables.css";
@import "./utils.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  background: var(--dy-color-aux-900);
  color: var(--dy-color-aux-100);
  block-size: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
}

body {
  -webkit-font-smoothing: antialiased;
  accent-color: var(--dy-color-primary);
  line-height: 1.5;
  scrollbar-width: thin;
  scrollbar-color: var(--dy-color-primary) var(--dy-color-aux-100);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--dy-color-aux-100);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--dy-color-primary);
  border-radius: 6px;
  border: 3px solid var(--dy-color-aux-100);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  isolation: isolate;
  min-block-size: 100%;
}

main {
  margin: 0 auto;
  max-inline-size: var(--dy-max-content-length);
  padding: var(--dy-space-base-8x);
}

a {
  --accent-offset: 0%;
  --accent-size: 2px;
  position: relative;
}

a:focus:not(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: var(--accent-size);
}

a:focus-visible {
  outline: 0;
}

a:before,
a:after {
  --border-color: currentColor;

  block-size: 110%;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  content: "";
  inset-block-start: -5%;
  inline-size: 0;
  opacity: 0;
  position: absolute;
  transform-origin: center;
  transition: all 0.2s ease;
  z-index: -1;
}

a:before {
  border-block-start: var(--accent-size) solid var(--border-color);
  border-inline-end: var(--accent-size) solid var(--border-color);
  inset-inline-start: calc(100% + var(--accent-offset));
}

a:after {
  border-block-end: var(--accent-size) solid var(--border-color);
  border-inline-start: var(--accent-size) solid var(--border-color);
  inset-inline-start: calc(0% - var(--accent-offset));
}

a:focus-visible:before,
a:hover:before,
a:focus-visible:after,
a:hover:after {
  inline-size: calc(100% + calc(var(--accent-offset) * 2));
  opacity: 1;
}

a:focus-visible:before,
a:hover:before {
  inset-inline-start: calc(0% - var(--accent-offset));
}

@media (prefers-reduced-motion) {
  a:before,
  a:after {
    transition: none;
  }
}
