---
title: Oops! Not Found
permalink: 404.html
layout: page.njk
current: notFound
---

<h1 class="visually-hidden">Page not found.</h1>

<section class="container-404">
    <div class="content-404">
        <img src="./assets/stranger-things-bikes.png" alt="Stranger Things kids riding their bikes."/>
        <h2>
            4<span>0</span>4</h2>
        <p>Page not found</p>
        <img src="./assets/stranger-things-upside-down.png" alt="Stranger Things upside down world."/>
    </div>
</section>