---
title: Articles
layout: page.njk
current: articles
description: Frontend development articles with a focus on web accessibility, HTML, CSS and design systems.
---

{%- from 'macros/_link.njk' import link %}
<h1 class="visually-hidden">Articles</h1>

<ul class="articles-list">
    {% for article in collections.articles | reverse %}
        <li>
            <h2>
                {{ link({ url: article.url, content: article.data.title })}}
            </h2>

            <section class="article-details">
                <div class="article-details-item">
                    {% include './assets/icons/icon-calendar.svg' %}
                    <time pubdate datetime="{{ article.data.date }}">{{ formatDate(article.data.date) }}</time>
                </div>
                <div class="article-details-item">
                    {% include './assets/icons/icon-clock.svg' %}
                    <span>{{ getArticleReadTime(article._templateContent) }} min. read</span>
                </div>
                {% if article.data.canonical %}
                    <div class="article-details-item">
                        {% include './assets/icons/icon-web-globe.svg' %}
                        {{ link({ url: article.data.canonical, content: getCanonicalDomain( article.data.canonical) }) }}
                    </div>
                {% endif %}
            </section>

            <p>{{article.data.preview}}</p>
        </li>
    {% endfor %}
</ul>