---
title: Articles
layout: page.njk
current: articles
---

<h1 class="visually-hidden">Articles</h1>

<ul class="articles-list">
    {% for article in collections.articles | reverse %}
        <li>
            <h2>
                <a href="{{ article.url }}">{{ article.data.title }}</a>
            </h2>

            <section class="article-details">
                <div class="article-details-item">
                    {% include './assets/icon-calendar.svg' %}
                    <time pubdate datetime="{{ article.data.date }}">{{ formatDate(article.data.date) }}</time>
                </div>
                <div class="article-details-item">
                    {% include './assets/icon-clock.svg' %}
                    <span>{{ getArticleReadTime(article._templateContent) }} min. read</span>
                </div>
            </section>

            <p>{{article.data.preview}}</p>
        </li>
    {% endfor %}
</ul>