---
title: About
layout: page.njk
description: Daniel Yuschick is a UI developer, design systems architect, accessibility advocate and horror author based in Helsinki, Finland.
current: about
---
{%- from 'macros/_link.njk' import link %}

<h1 class="visually-hidden">About Daniel Yuschick</h1>

<section class="about about--content-alignment">
    <h2>Born and raised in Pennsylvania, USA</h2>
    <ul>
        <li>
            <span>Spent my 7th birthday singing every word at an Alice Cooper concert</span>
        </li>
        <li>
            <span>Worked two years in a record store</span>
        </li>
        <li>
            <span>Freelanced as a web designer and developer</span>
        </li>
        <li>
            <span>{{ link({ url: "https://www.soultonecymbals.com/artist/daniel-yuschick", content: "Played drums" }) }} in multiple metal bands</span>
        </li>
    </ul>

    <h2>Moved to North Carolina, USA in 2009</h2>
    <ul>
        <li>
            <span>Learned what a recession was</span>
        </li>
        <li>
            <span>Continued to freelance</span>
        </li>
        <li>
            <span>Never used my Bachelor's Degree in Criminal Justice / Computer Forensics</span>
        </li>
        <li>
            <span>Adopted {{ link({ url: "/abbie", content: "my dog, Abbie" }) }}</span>
        </li>
        <li>
            <span>Competed in several YMCA basketball leagues</span>
        </li>
        <li>
            <span>Tried bean-to-bar chocolate and have been spoiled since</span>
        </li>
        <li>
            <span>Taught Frontend Engineering at  {{ link({ url: "https://www.momentumlearn.com/", content: "The Iron Yard" }) }} coding bootcamp</span>
        </li>
    </ul>

    <h2>Followed my love of winter and metal to Helsinki, Finland in 2017</h2>
    <ul>
        <li>
            <span>Lived in an AirBnB without running water for the first two weeks</span>
        </li>
        <li>
            <span>Went on a Tinder date</span>
        </li>
        <li>
            <span>A lot more basketball and a lot less freelancing</span>
        </li>
        <li>
            <span>Discovered my love of traveling</span>
        </li>
        <li>
            <span>Wrote my first novel, {{ link({ url: "/books", content: "The Mines" }) }}</span>
        </li>
        <li>
            <span>Attended Turkmenistan's annual Independence Day horse race</span>
        </li>
        <li>
            <span>Learned what a pandemic was</span>
        </li>
        <li>
            <span>Learned how to drive manual then bought an automatic</span>
        </li>
        <li>
            <span>Married that Tinder date</span>
        </li>
    </ul>

    <h2>Still to come...</h2>
    <ul>
        <li>
            <span>Complete and publish a second novel</span>
        </li>
        <li>
            <span>Get a Fazer chocolate bar tattoo</span>
        </li>
        <li>
            <span>Become a certified Web Accessibility Specialist</span>
        </li>
    </ul>
</section>