---
title: Speaking
layout: page.njk
current: speaking
description: Daniel Yuschick is a technical speaker specialising in web accessibility.
---

<h1 class="visually-hidden">Speaking</h1>

<section class="events-list">
    <h2>Upcoming Events</h2>
    <ul>
        {% for event in collections.speaking | reverse %}
            {% if filterPastEvents(event) %}
                <li>
                    <h3 class="event-host">{{ event.data.company }}</h3>
                    <span>{{ event.data.title }}</span><br/>
                    <span>
                        <time pubdate datetime="{{ params.date }}">{{ formatDate(event.data.date) }}</time>
                        - {{ event.data.location }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>

<section class="events-list">
    <h2>Past Events</h2>
    <ul>
        {% for event in collections.speaking | reverse %}
            {% if not filterPastEvents(event) %}
                <li>
                    <h3 class="event-host">{{ event.data.company }}</h3>
                    <span>{{ event.data.title }}</span><br/>
                    <span>
                        <time pubdate datetime="{{ params.date }}">{{ formatDate(event.data.date) }}</time>
                        - {{ event.data.location }}</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>